.nav-bar{
  color: white;
  z-index: 1;
  width: 100%;
  margin-left: 6%;
}
.logo-white{
   filter: brightness(500);
}
.mr-auto,Form{
  margin-left: 8%;
}
.login{
   background-color: rgb(191, 129, 16);
   width: 70px;
   border-radius: 5px;
}
.Linker{
   margin-right: 20px;
   color: white;
}
.username{
   font-weight: bold;
   color: black;
}

